.complaintsList{
    margin-top:20px;
    border-radius:5px;
    border:2px solid #ccc;
    margin-bottom: 20px;
    position: relative;
    width:100%;
}

.complaintsList h4{
    padding:10px 20px;
    background-color: #eeeeee;
    border-bottom: 2px solid #ccc;
}

 .tableList{
    width:100%;
    background-color: #ffffff;   
    border-collapse: collapse;
    border-style: hidden;
    table-layout:fixed;
    max-height:420px;
    overflow-y: auto;
    overflow-x: hidden;
    display: block;
}

 .tableList::-webkit-scrollbar {
    width: 3px;
    background: #dfe1e8;
}

 .tableList::-webkit-scrollbar-thumb {
    background: #7a7d89;

}
.tableList tbody {
    display: table; 
}

.tableList thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.tableList thead {
    border-top: 0;
    position: sticky;
    z-index:1;
    top:0;
    left:0;
    background-color: #fff;
}

.deletePopup{
    width:40%;
}
.tableList tr:nth-child(even) { background: #eee; }

.search{
    width:200px;
}

.open{
    color:#e04a32;
}

.progress{
    color:#1a73e8;
}

.closed{
    color:#2ec020;
}

.tableList th{
    color:gray;
    border:1px solid #ccc;
}

.tableList td{
    text-align: center;
    border:1px solid #ccc;
}

.tableList td:nth-child(5){
    display: flex;
    justify-content: space-evenly;
}
.tableList td:last-child{
    display:none;
}
.tableList th,td{
    padding:10px;
}

.edit{
    color:#1a73e8;
    font-weight: bold;
    cursor: pointer;
}

.delete{
    color:red;
    cursor: pointer;
    
}

.issueId{
    background-color: transparent;
    border:none;
    color:#1a73e8;
    text-decoration: underline;
    cursor:pointer;
    font-size:16px;
    outline:0;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.name{
    color:#1a73e8;
}

.tableContainer{
    position: relative;
}

@media (min-width:768px) and (max-width:1023px){
    .complaintsList table{
       max-height: 390px;
    }
}

@media(max-width:767px){
    .tableList {
        background-color: #fff;
        min-height:400px;
    }
    .tableList thead, tbody, th, td, tr {
        display: block;
    }
    .tableList thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    .tableList tr {
        border: 1px solid #ccc;
        margin-top: 1rem;
        background-color: #f2f2f2;
    }
    .tableList tr:last-child {
        border: none;
      
    }
    .tableList td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        min-height: 40px;
        line-height: 40px;
        max-height: 50px;
    }
    .tableList td:before {
        position: absolute;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }
    .tableList td:nth-of-type(1):before {
        content: "Department";
    }
    .tableList td:nth-of-type(2):before {
        content: "Issue Id";
    }
    .tableList td:nth-of-type(3):before {
        content: "Assigned To";
    }
    .tableList td:nth-of-type(4):before {
        content: "Status";
    }
    .tableList td:nth-child(5){
        display:none;
    }
     td:last-child{
        display: flex;
    } 
    .search input{
        height:30px;
    }

    .editC{
        background-color:#2ec020;
        border:none;
        border-radius: 3px;
        color:#fff;
        font-weight: bold;
        width:50px;
        height:30px;
        margin-right:20px;
    }

    .deleteC{
        background-color:#e04a32;
        border:none;
        border-radius: 3px;
        color:#fff;
        font-weight: bold;
        width:50px;
        height:30px;
    }
    .tableList td:last-child{
        display:flex;
    }
}
