.popup{
  
    width:400px;
    background-color: #fff;
    border:1px solid #D8763A;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    line-height:1.8rem;
    border-radius: 4px;
    box-shadow:0 0 10px #fff;
    z-index:2;
}

.complaintForm {
    display: flex;
    flex-wrap: wrap;
    height:400px;
    padding: 0px 20px;
    box-sizing: border-box;
}

.item{
    width:50%;
    margin-top: 10px;
}

