.profile {
    margin-top: 20px;
    border: 2px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    width: 100%;
}

.profile h4 {
    padding: 10px 0px;
    background-color: #eeeeee;
    border-bottom:2px solid #ccc;
}
.description{
    color:#D8763A; 
}

.edit{
    position: absolute;
    right:0;
    top:8px;
    font-weight: bold;
    cursor: pointer;
   color:#D8763A;
}

.check{
    background-color: #aaa;
    border-radius: 50%;
    color:#fff;
    padding:1px;
    cursor: pointer;
}

.editPic{
    font-size:20px;
    color:#aaa;
    cursor: pointer;
}
.profile ul{
    list-style-type: none;
    margin-top:15px;
}

.profile i{
    margin-right: 10px;
}

.profile li{
    font-size:14px;
    padding:7px 0;
}
.profile h4:before {
    content: '\f040';
    font-family: FontAwesome;
    margin: 10px;
    color: gray;
}

.spinner{
    background-color: #fff;
}

.descBox{
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    min-height:250px;
    position: relative;
    align-items: center;
   
}


.profilePic{
    height:120px;
    width:120px;
    border-radius:50%;
}


.follow{
    background-color:#1a73e8;
    border:none;
    border-radius: 3px;
    color:#fff;
    font-weight: bold;
    width:70px;
    height:30px;
    margin-right:10px;
}
.follow:hover{
    background-color: #fff;
    color:#1a73e8;
    border:2px solid #1a73e8; 
}

.unfollow{
    background-color:#e04a32;
    border:none;
    border-radius: 3px;
    color:#fff;
    font-weight: bold;
    width:70px;
    height:30px;
}

.unfollow:hover{
    background-color: #fff;
    color:#e04a32;
    border:2px solid #e04a32; 

}


 @media (min-width:768px) and (max-width:1023px){
    .profile li{
        font-size:20px;
        
    }
}



@media(max-width:767px){
    .descBox{
        display: block;
    }

    .picture{
        text-align: center;
        margin:30px 0;
    }
    .description{
        text-align: center;
    }
   
}